.card-deck(style='justify-content: center;').py-5
  .row
    .col-lg-4.text-center
      .card(style='background-color: white; border:none;')
        .card-body
          a(href='/reservation')
            img.img-fluid(src='images/salle_diner.svg' alt='SAM' data-toggle='tooltip' title='Le luxe, abordable!' style='width: 90px; height: 90px;')
        .card-footer(style='background-color: white;')
          h3 Salle &agrave; Manger 
          p1 Notre salle &agrave; manger peut accueillir 75 personnes
    .col-lg-4.text-center
      .card(style='background-color: white; border:none;')
        .card-body.text-center
          a(href='menu/menu.pdf')
            img.img-fluid(src='images/livraison.svg' alt='Livraison' data-toggle='tooltip' title='Directement à votre porte!' style='width: 90px; height: 90px;')
        .card-footer(style='background-color: white;')
          h3 Livraison 
          p1 Nous effectuons la livraison dans un rayon de 25km 
    .col-lg-4.text-center
      .card(style='background-color: white; border:none;')
        .card-body
          a(href='menu/menu.pdf')
            img.img-fluid(src='images/emporter.svg' alt='Pick-up' data-toggle='tooltip' title='Simple et rapide!' style='width: 90px; height: 90px;')
        .card-footer(style='background-color: white;')
          h3 Pour emporter 
          p1 Commander d&apos;avance ou passer au comptoir rapide
br