.container-fluid
  .row.bg-danger.py-2
    .d-none.d-md-block.col-4.m-auto.text-center
      p.text-white= "Suivez-nous sur les réseaux sociaux!"
      a(href="http://facebook.com") 
        i.fab.fa-facebook.fa-2x.mx-2.text-light
      a(href="http://twitter.com") 
        i.fab.fa-twitter-square.fa-2x.mx-2.text-light
      a(href="http://pinterest.com") 
        i.fab.fa-pinterest-square.fa-2x.mx-2.text-light

    .col-md-4.text-center.align-middle.my-4
      img(src="/images/logo2.svg", alt="logo" min-width="40%" min-height="40%")
      br
      p.mt-3.text-white.
        123 papineau, Verdun, QC, H5D&nbsp;8L4 <br/>
        Téléphone: 123-456-7890 <br/>
        Courriel: email@resto.com
    .col-md-4.m-auto.text-center
      br
      a.d-none.d-md-block(href="/")
        img(src="/images/logo.svg", alt="logo" width="40%" height="40%")
    .d-md-none.d-sm-block.m-auto.text-center
      p.text-white= "Suivez-nous sur les réseaux sociaux!"
      a(href="http://facebook.com") 
        i.fab.fa-facebook.fa-2x.mx-2.text-light
      a(href="http://twitter.com") 
        i.fab.fa-twitter-square.fa-2x.mx-2.text-light
      a(href="http://pinterest.com") 
        i.fab.fa-pinterest-square.fa-2x.mx-2.text-light
  .row.bg-danger.pb-2
    p.text-center.m-auto.align-bottom Copyright &copy; 2021 B.A.T. Tout droits réservés.