
.jumbotron.jumbotron-fluid(style='padding:80px; background-color: #f69656;')
  .text-center.bg-dark.text-white
    h1  NOTRE PETITE HISTOIRE 
    br
    br
    p.
      Tout a commenc&eacute; en 1960 lorsque Fillipo a immigr&eacute; au Canada. 
      Il &eacute;tait alors boucher-charcutier et partageait une &eacute;picerie avec 
      son p&egrave;re et son beau-fr&egrave;re. &Eacute;tant &agrave; la recherche d&rsquo;un 
      nouveau d&eacute;fi, il d&eacute;cida d&rsquo;acheter un terrain &agrave; Boucherville 
      en 1979. Il choisit cet emplacement autrefois entour&eacute; de fermes agricoles 
      notamment pour sa proximit&eacute; avec la polyvalente et ses axes routiers achaland&eacute;s. 
      C&apos;est &agrave; ce moment qu&rsquo;Orlando le Roi des sous-marins ouvre ses portes, alors 
      voisin du restaurant La Trattoria Buon Gausta. Les bouchervillois sont rapidement tomb&eacute;s 
      sous le charme de la cuisine italienne et ce restaurant familial devint leur pr&eacute;f&eacute;r&eacute;. 
      Malheureusement, un majeur incendie frappa le restaurant en juin 2012. Plusieurs mois de travail 
      ont &eacute;t&eacute; n&eacute;cessaires afin de r&eacute;nover la succursale et mieux servir 
      leur fid&egrave;le client&egrave;le. Depuis, les fils Mike et Orlando mettent tout leur c&oelig;ur 
      dans leur travail et on peut go&ucirc;ter l&rsquo;amour et la passion dans chacun de leur plat! 
      Merci &agrave; tous nos clients! Buon appetito!