extends pageLayout

block content
  include section/carrousel
  include section/cards
  #promotion 
    include section/promotion
  #evaluation
    include  section/evaluation
  #apropos
    include section/histoire 
  include section/images

